p
            {
                color: blue;
                font-family: sans-serif;
                font-size: 130%;
            }
h1
  {
      color: green;
      font-family: arial;
      font-size: 22px;
  }
 h2
  {
      color: green;
      font-family: sans-serif;
      font-size:150%;
  }
  body
   {
       background-color: lightblue;
   }
.b
{
    background-color:lightgreen;
    text-align: center;
}
.t
 {
    text-align:right; 
    
 }
  a
  {
      text-decoration: none;
  }
 p.o {
     border-style: dashed;
     
     
 }
 
 /*GRID*/
 
 section{
	 font-size: 20px;
 }
 section:first-child{ grid-area:s2; }
 section:last-child{ grid-area:s1;}
 
main{
	 display: grid;
	 grid-template-areas:
	 's2 s1'
	 's2 s1';
	 grid-gap:10px;
	 background-color: black;
	 grid-template-rows:100px 100px;
 }
